body
{
	background-color: white;
}

.div-page
{
	background: green;
	width: 60%;
	margin-left: 20%;
}

.div-block
{
	background-color: LightGrey;
	margin: 25px;
	padding: 10px;
	padding-left: 20px;
	border-radius: 10px;
}