body
{
	background-color: #213451;
	display: inline;
}

h2
{
	margin: 5px;
}

p
{
	font-family: Arial, sans-serif;
}

.my_name
{
	text-decoration: underline;
	font-family: "Times New Roman", serif;
}

.div-page
{
	float: left;
	background-color: #6e819e;
	border-radius: 10px;
	width: 60%;

	padding: 10px;
	margin-left: 20%;
}

.div-block
{
	background-color: #d0aebc;
	border-radius: 10px;

	padding: 10px;
	margin: 10px;
}